@import "tailwindcss";
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./fonts/Satoshi-Variable.woff") format("woff");
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2");
}

@theme{
  --font-satoshi: "Satoshi", "sans-serif";
}

*{
  font-family: Satoshi;
}

#root > div > div > main > form > div.flex.flex-col.gap-4.my-8.lg\:flex-row > div:nth-child(1) > div.justify-start > div > span > input{
  width: 100%;
}